body {
    font-family: Futura, Univers, Tahoma, Geneva, sans-serif;
    background-color: lightyellow;
}

header h1 {
    display: inline;
    letter-spacing: 10px;
}

header {
    border-bottom : 2px solid green;
}


nav ul li {
    list-style-type: none;/*skida kruzic ispred nabrajanja */
    display: inline;/*omogucava horizontalno poredjane stavke */
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
/* unvisited link */
nav ul li a:link {
    background-color: #f44336;
}

/* visited link */
nav ul li a:visited {
    background-color: #f44336;
}

/* mouse over link */
nav ul li a:hover {
    background-color: red;
}

/* selected link */
nav ul li a:active {
    background-color: red;
}

/* za linkove ka kategorijama namirnicama, vidi kako ovo stoji u odnosu sa svim linkovima u projektu*/
ul li {
    list-style-type: none;/*skida kruzic ispred nabrajanja */
    display: inline;/*omogucava horizontalno poredjane stavke */
}

footer {
    background-color : black;
    color: white;
    text-align:center;
    padding: 10px;
    margin-top: 30px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    padding: 10px;
}

input:focus {
    background-color: #faffa1;
}

.button {
    background-color: #4CAF50;
    border:none;
    color: white;
    padding: 10px 24px;
    text-align: center;
   /* text-decoration: none;*/
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


#procenti {
    width:30%;
    height:15px;
    /*background-color:yellow;
    outline: dashed black;*/
}
#procenti #p{
    height:15px;
    background-color:blue;
    float:left;
}
#procenti #uh{
    height:15px;
    background-color:red;
    float:left;
}
#procenti #m{
    height:15px;
    background-color:yellow;
    float:left;
}
#procenti:after{
    content: "proteini:plavo, masti:žuto, ugljeni-hidrati:crveno";
}